Anne, baba ve çocuktan oluşan çekirdek ailenin Süper aile olup olmadığını bulan kodu yazın. isimleri kullanıcıdan isteyin. (Çocuğun ismindeki sessiz harflerin hepsi, anne ve babanın isimlerinde var ise bu aile süper ailedir.(Not: anne ve baba isminden en az bir tane olmalı.). örn1: baba adı = "Halil", anne adı= "Merve", çocuk adı= "Veli" >> Süper aile. ("v" anneden, "l" babadan) örn2: baba adı = "Murat", anne adı= "Songül", çocuk adı= "Mert" >> Süper aile değil. Anneden harf yok.

In [1]:
def isSuperFamily(anne, baba, cocuk):

    anne = anne.lower()
    baba = baba.lower()
    cocuk = cocuk.lower()

    cocuk_sessiz_harfler = ""

    for i in cocuk:
        if i not in "aeıioöuü":
            cocuk_sessiz_harfler += i

    if len(set(anne) & set(cocuk_sessiz_harfler)) > 0 and len(set(baba) & set(cocuk_sessiz_harfler)) > 0 and set(cocuk_sessiz_harfler).issubset(set(anne) | set(baba)): 
        print("Bu aile süper ailedir.")
    else:
        print("Bu aile super aile değildir.")

In [3]:
isSuperFamily("halil", "merve", "veli")

Bu aile süper ailedir.

In [4]:
isSuperFamily("murat", "Songül", "mert")

Bu aile super aile değildir.

In [6]:
isSuperFamily("halil", "Songül", "ali")

Bu aile süper ailedir.

In [7]:
isSuperFamily("halil", "merve", "velican")

Bu aile super aile değildir.

In [8]:
anne = input("Annenin ismini girin")
baba = input("Babanın ismini girin")
cocuk = input("Cocuğun ismini girin")

isSuperFamily(anne, baba, cocuk)

Bu aile super aile değildir.

## Arbitrary Number of Arguments(* args, **kwargs)

## **kwargs

In [9]:
dict_1 = {"name1": "Arzu", "name2": "Ömer", "name3": "Hamdi"}
dict_1

{'name1': 'Arzu', 'name2': 'Ömer', 'name3': 'Hamdi'}

In [10]:
dict_1.items()

dict_items([('name1', 'Arzu'), ('name2', 'Ömer'), ('name3', 'Hamdi')])

In [11]:
def kwargs_function(** names):

    for i, j in names.items():

        print(f"key: {i}, value: {j}")

In [12]:
kwargs_function("sedat")

TypeError: kwargs_function() takes 0 positional arguments but 1 was given

In [13]:
kwargs_function(name4 = "Berk", name5 = "Ramazan")

key: name4, value: Berk
key: name5, value: Ramazan

In [14]:
kwargs_function(name4 = "Berk", name5 = "Ramazan", name6= "Yasin")

key: name4, value: Berk
key: name5, value: Ramazan
key: name6, value: Yasin

In [15]:
kwargs_function(dict_1)

TypeError: kwargs_function() takes 0 positional arguments but 1 was given

In [16]:
kwargs_function(** dict_1)

key: name1, value: Arzu
key: name2, value: Ömer
key: name3, value: Hamdi

## filter()

In [17]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [18]:
filter(None, "Hello")

In [19]:
list(filter(None, "Hello"))

['H', 'e', 'l', 'l', 'o']

In [ ]:
filter(None, [1,2,0,True, False, "", 0.0, "Techpro"])

In [20]:
list(filter(None, [1,2,0,True, False, "", 0.0, "Techpro"]))

[1, 2, True, 'Techpro']

In [21]:
def find_odds(x):

    if x % 2 == 1:
        return True
    else:
        return False

In [22]:
find_odds(5)

True

In [23]:
find_odds(4)

False

In [24]:
list(filter(find_odds, [1,2,3,4,5,6,7,8,9]))

[1, 3, 5, 7, 9]

In [25]:
tuple(filter(find_odds, [1,2,3,4,5,6,7,8,9]))

(1, 3, 5, 7, 9)

In [26]:
def find_evens(x):

    if x % 2 == 1:
        return False
    else:
        return True

In [27]:
list(filter(find_evens, (5,4,9,15,24,32,16,15,17,18)))

[4, 24, 32, 16, 18]

In [33]:
isimler_listesi = ["Serhat", "sedat", "Metehan", "Bahar", "cennet", "Bilge" ]

In [34]:
def len_5(x):

    if len(x) == 5: return True

In [35]:
list(filter(len_5, isimler_listesi))

['sedat', 'Bahar', 'Bilge']

In [36]:
def isArmstrong(sayı):

    sayı = str(sayı)
    return sum([ int(i) ** len(sayı)  for i in sayı]) == int(sayı)

In [38]:
isArmstrong(408)

False

In [43]:
%%time
for i in range(10, 1000000):

    if isArmstrong(i) == True:
        print(i)

153
370
371
407
1634
8208
9474
54748
92727
93084
548834
CPU times: total: 5.34 s
Wall time: 14.7 s

In [44]:
%%time
list(filter(isArmstrong, range(10,1000000)))

CPU times: total: 4.73 s
Wall time: 7.37 s

[153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727, 93084, 548834]

# lambda()

In [45]:
def kareler_toplamı(x, y):
    return x ** 2 + y ** 2

In [46]:
kareler_toplamı(4, 3)

25

In [47]:
lambda x, y: x ** 2 + y ** 2

In [48]:
(lambda x, y: x ** 2 + y ** 2)(4, 3)

25

In [49]:
(lambda x, y: x ** 2 + y ** 2)(4)

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [ ]:
def len_5(x):

    if len(x) == 5: return True

In [50]:
(lambda x: len(x) == 5)("Arzu")

False

In [51]:
(lambda x: len(x) == 5)("Didem")

True

In [56]:
list(filter((lambda x: len(x) == 5), isimler_listesi))

['sedat', 'Bahar', 'Bilge']

In [58]:
list(filter((lambda x: x % 2 == 1), [1,2,3,4,5]))

[1, 3, 5]

In [59]:
tek_sayı_ayıklayıcı = (lambda x: x % 2 == 1)

In [61]:
tek_sayı_ayıklayıcı(8)

False

In [62]:
tek_sayı_ayıklayıcı(8,9)

TypeError: <lambda>() takes 1 positional argument but 2 were given

In [63]:
print("nazan")
print("nazan"[::-1] )

nazan
nazan

In [65]:
"Nazan" == "Nazan"[::-1]

False

In [67]:
(lambda x: x.lower() == x[::-1].lower())("nazan")

True

In [68]:
(lambda x: x.lower() == x[::-1].lower())("ey edip adanada pide ye")

True

In [69]:
(lambda x: x.lower() == x[::-1].lower())("Never odd or even")

False

In [70]:
(lambda x: x.lower() == x[::-1].lower())("Neveroddoreven")

True

In [71]:
import pandas as pd

In [ ]:
pip install pandas

In [ ]:
pip3 install pandas

In [ ]:
! pip install pandas

In [ ]:
import pandas as pd

In [72]:
df = pd.read_csv("adult_eda.csv")

In [73]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9.0,Never-married,Adm-clerical,NaN,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [74]:
df.sex

0          Male
1          Male
2          Male
3          Male
4        Female
          ...
32556    Female
32557      Male
32558    Female
32559      Male
32560    Female
Name: sex, Length: 32561, dtype: object

In [75]:
df.sex.apply(lambda x: 0 if x == "Male" else 1)

0        0
1        0
2        0
3        0
4        1
        ..
32556    1
32557    0
32558    1
32559    0
32560    1
Name: sex, Length: 32561, dtype: int64