liste_1 = [4,5,6,9,85,23,65,47,32,91] listenin en küçük ve en büyük elemanını min ve max fpnksiyonu kullanmadan bulun. sort fonk da kullanmayın. while ile min değeri for ile max değeri bulun.

In [5]:
liste_1 = [4,5,2,6,9,85,23,65,47,32,-15,91]

x = 0

min_sayı = liste_1[-1]

while x < len(liste_1):

    if min_sayı > liste_1[x]:
        min_sayı = liste_1[x]
        
    x += 1

print(min_sayı)

-15

In [6]:
liste_1 = [4,5,2,6,9,85,23,65,47,32,-15,91]

max_sayı = liste_1[3]

for i in liste_1:

    if max_sayı < i:
        max_sayı = i

print(max_sayı)

91

In [7]:
dict_1 = {"name": "Hakan", "age": 32, "job": "datascientist"}
dict_1

{'name': 'Hakan', 'age': 32, 'job': 'datascientist'}

In [8]:
for i in dict_1:
    print(i)

name
age
job

In [9]:
dict_1.items()

dict_items([('name', 'Hakan'), ('age', 32), ('job', 'datascientist')])

In [10]:
for i in dict_1.items():
    print(i)

('name', 'Hakan')
('age', 32)
('job', 'datascientist')

In [11]:
for i in dict_1.values():
    print(i)

Hakan
32
datascientist

In [12]:
for i, j in dict_1.items():
    print(f"keys:{i}, values: {j}")

keys:name, values: Hakan
keys:age, values: 32
keys:job, values: datascientist

In [14]:
for i, j in dict_1.items():
    print(f"keys:{i:<4}, values: {j}")

keys:name, values: Hakan
keys:age , values: 32
keys:job , values: datascientist

In [15]:
for i, j in dict_1.items():
    print(f"keys:{i:>8}, values: {j}")

keys:    name, values: Hakan
keys:     age, values: 32
keys:     job, values: datascientist

In [16]:
for i, j in dict_1.items():
    print(f"keys:{i:<8}, values: {j:^15}")

keys:name    , values:      Hakan
keys:age     , values:       32
keys:job     , values:  datascientist

In [17]:
"techpro".center(20)

'      techpro       '

In [18]:
"techpro".ljust(20)

'techpro             '

In [19]:
"techpro".rjust(20)

'             techpro'

In [ ]:
# çalıştırma sonsuz döngü
liste_2 = ["sonsuza gider mi deneyelim"]
for i in liste_2:
    print(i)
    liste_2.append("sonsuza gider mi deneyelim")

In [21]:
liste_2 = ["sonsuza gider mi deneyelim"]
for i in range(len(liste_2)):
    print(liste_2[i])
    liste_2.append("sonsuza gider mi deneyelim")

sonsuza gider mi deneyelim

In [22]:
liste_2

['sonsuza gider mi deneyelim', 'sonsuza gider mi deneyelim']

1 den 50 e kadar(50 dahil) sayıların toplamını bulan kodu yazın.

In [23]:
toplam = 0

x = 1

while x <= 50:

    toplam += x
    x += 1

print(toplam)

1275

In [ ]:
(n * (n + 1)) / 2

In [24]:
(50 * (50 + 1)) / 2

1275.0

In [29]:
toplam = 0
for i in range(1,51):
    toplam += i

print(toplam)

1275

In [25]:
range(1,51)

range(1, 51)

In [30]:
sum([1,2,3,4,5])

15

In [31]:
sum(range(51))

1275

In [35]:
sum(["a", "b"])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [34]:
sum([True, False])

1

In [33]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [36]:
sum([1,2,3,4,5], 100)

115

1 den 50 e kadar(50 dahil) sayıların çift olanlarının toplamını bulan kodu yazın.

In [38]:
25*26

650

In [39]:
toplam = 0

x = 1

while x <= 50:

    if x % 2 == 0:
        toplam += x

    x += 1

print(toplam)

650

In [40]:
toplam = 0
for i in range(1,51):
    
    if i % 2 == 0:
        toplam += i

print(toplam)

650

In [41]:
sum(range(0,51,2))

650

## break, continue

In [42]:
liste_3 = [1,2,3,4,5]
liste_3

[1, 2, 3, 4, 5]

In [44]:
# 3 ve 3 ün katı olan sayıya denk gelindiğinde döngü bitsin. diğer durumda sayıların karesini gösterin.

for i in liste_3:

    if i % 3 == 0:
        break
    
    print(i ** 2)

1
4

In [45]:
# 3 ve 3 ün katı olan sayıya denk gelindiğinde döngü işlem yapmadan devam etsin. diğer durumda sayıların karesini gösterin.


for i in liste_3:

    if i % 3 == 0:
        continue
    
    print(i ** 2)

1
4
16
25

In [49]:
# 1 den 50 e kadar(50 dahil) sayıların çift olanlarının toplamını continue kullanarak bulan kodu yazın. 

toplam = 0
for i in range(1,51):
    
    if i % 2:
        continue

    toplam += i

print(toplam)

650

## zip()

In [50]:
a = ["apple", "orange", "lemon"]
b = [1,2,3]

In [51]:
zip(a,b)

In [52]:
list(zip(a,b))

[('apple', 1), ('orange', 2), ('lemon', 3)]

In [53]:
tuple(zip(a,b))

(('apple', 1), ('orange', 2), ('lemon', 3))

In [54]:
tuple(zip(b,a))

((1, 'apple'), (2, 'orange'), (3, 'lemon'))

In [55]:
dict(zip(a,b))

{'apple': 1, 'orange': 2, 'lemon': 3}

In [56]:
set(zip(a,b))

{('apple', 1), ('lemon', 3), ('orange', 2)}

In [59]:
x = "techpro"
y = "Yasin"
z = "Arzu"

In [60]:
list(zip(x,y,z))

[('t', 'Y', 'A'), ('e', 'a', 'r'), ('c', 's', 'z'), ('h', 'i', 'u')]

In [62]:
name = ["Ferdi", "Ali", "Dilay"]
age  = [33, 25, 26]
job = ("datascientist", "dataanalyst", "pythondeveloper")

In [63]:
list(zip(name, age,job))

[('Ferdi', 33, 'datascientist'),
 ('Ali', 25, 'dataanalyst'),
 ('Dilay', 26, 'pythondeveloper')]

In [64]:
meyveler = ["apple", "orange", "apple"]
adet = [1,2,3]

In [65]:
list(zip(meyveler, adet))

[('apple', 1), ('orange', 2), ('apple', 3)]

In [66]:
dict(zip(meyveler, adet))

{'apple': 3, 'orange': 2}

In [67]:
dict(zip(adet, meyveler))

{1: 'apple', 2: 'orange', 3: 'apple'}

In [68]:
name = ["Ferdi", "Ali", "Dilay"]
age  = [33, 25, 26]
job = ("datascientist", "dataanalyst", "pythondeveloper")

In [71]:
print(list(zip(name, age,job)))

[('Ferdi', 33, 'datascientist'), ('Ali', 25, 'dataanalyst'), ('Dilay', 26, 'pythondeveloper')]

In [72]:
for i,j,k in zip(name, age, job):

    print(f"name: {i:<6}, age: {j:<3}, job:{k:<15}")

name: Ferdi , age: 33 , job:datascientist
name: Ali   , age: 25 , job:dataanalyst
name: Dilay , age: 26 , job:pythondeveloper